.start-button {
  max-width: 35%;
}

.score-section {
  min-width: 20%;
  max-height: 20rem;
  padding: 15px 0px;
  text-align: center;
}

.number-guess {
  min-height: 3rem;
  margin: auto;
  padding-top: 0.3rem;
  max-width: 25%;
  font-size: 25px;
}
